body.consent-popup-opened {
  overflow: hidden;
}

.blurred-element {
  transition: filter 1s ease-in-out;
  filter: blur(0);
}

.consent-popup-opened .blurred-element,
.consent-popup-opened.blurred-element {
  filter: blur(7px);
}

.block-consent-popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--consent-popup-bg-color, rgb(0, 0, 0, 0.8));
}

.consent-popup-opened .block-consent-popup {
  display: flex;
  align-items: center;
  justify-content: center;
}

#javali-popup {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20rem;
  min-height: 20rem;
  padding: 2rem 3rem;
  background-color: #fff;
}

#javali-popup a {
  color: var(--consent-popup-bg-color);
}

.block-consent-popup .consent-text {
  text-align: center;
}

.block-consent-popup .consent-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.block-consent-popup button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}

.block-consent-popup button:focus,
.block-consent-popup button:hover {
  color: #fff;
  background-color: #000;
}

@media (min-width: 48em) {
  #javali-popup {
    width: 28rem;
  }
}
